@import url(../../assets/fonts/Staatliches/Staatliches.css);
@import url(../../assets/fonts/Farro/Farro.css);
@import url(../../assets/fonts/Francois_One/FrancoisOne.css);
@import url(../../assets/fonts/PT_Sans/PT_Sans.css);
@import url(../../assets/fonts/Tourney/Tourney.css);
@import url(/assets/fonts/roboto/roboto.css);

* {
  box-sizing: border-box;
}

a {
  color: rgba(0, 0, 0, 1);
}

.header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 100;
}

.header a {
  text-decoration: none;
}

.header__navigation {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__navigation__leftside {
  display: flex;
  align-items: center;
  gap: 50px;
}

.header__navigation__leftside_translate {
  font-family: Tourney, sans-serif;
}

.header__navigation__leftside__info {
  display: flex;
  align-items: center;

  gap: 10px;
  font-family: Staatliches, sans-serif;
}

.main {
  width: 100%;
  display: flex;
  justify-content: center;
}

.main__container {
  margin-top: 150px;
  width: 1200px;
  display: flex;
  justify-content: space-between;
}

.main__container__side-bar {
  width: 385px;
  height: 462px;
  display: flex;
  position: sticky;
  top: 80px;
}

.main__container__side-bar ul li {
  border-bottom: 1px solid #c9c9c9;
}

.main__container__side-bar ul li a {
  text-decoration: none;
}

.main__container__rightside-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.main__container__rightside-wrapper__background {
  position: sticky;
  top: 80px;
  z-index: -1;
}

.main__container__rightside-wrapper__background_background-image {
  position: absolute;
  right: -120px;
  top: 0;
  z-index: -1;
}

.main__container__rightside-wrapper__main-text {
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.main__container__rightside-wrapper__main-text section {
  width: 785px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.main__container__rightside-wrapper__main-text section p {
  font-family: PTSans-Regular, sans-serif;
  font-size: 28px;
  line-height: 48px;
}

.main__container__rightside-wrapper__title {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main__container__rightside-wrapper__title_divider {
  width: 100px;
  height: 8px;
  background: #000000;
}

.main__container__rightside-wrapper__title__heading {
  display: flex;
}

.title-bold {
  font-family: FrancoisOne, sans-serif;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.main__container__rightside-wrapper__title__heading span {
  font-family: Farro, sans-serif;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.04em;
  vertical-align: top;
}

.bold-text {
  font-family: PTSans-Bold, sans-serif;
}

.gray-text {
  background-color: rgb(198, 198, 198);
}

.italic-text {
  font-style: italic;
}

.extra {
  width: 100%;
  display: flex;
  justify-content: center;
}

.extra__wrapper {
  width: 1200px;
}

.extra__container {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.extra__grid-container {
  width: 1200px;
  height: 430px;
  display: grid;
  align-content: center;
  justify-content: center;
  grid-gap: 30px 30px;
  grid-template-columns: repeat(4, 270px);
  grid-template-rows: repeat(2, 180px);
  border-top: 1px solid #c9c9c9;
  border-bottom: 1px solid #c9c9c9;
}

.flip-card {
  background-color: transparent;
  width: 270px;
  height: 180px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
.flip-card__inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.front {
  z-index: 1;
  position: relative;
  background-color: #c9c9c9;
  width: 100%;
  height: 100%;
  justify-content: center;
  text-align: center;
  backface-visibility: hidden;
  transition: transform 0.3s cubic-bezier(0.2, 0.85, 0.4, 1.275);
}

.back {
  z-index: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  backface-visibility: hidden;
  background-color: rgba(26, 26, 26, 1);
  transform: rotateY(-180deg);
  transition: transform 0.3s cubic-bezier(0.2, 0.85, 0.4, 1.275);
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}

.roboto {
  font-family: Roboto, sans-serif;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.04em;
}
